extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/forms.css')
    h2.form-title Sign Up
    .form-block
        form(action="/auth/signup", method="POST", novalidate)
            label(for="email") Email:
            input(type="email", name="email")#email
            label(for="password") Password:
            input(type="password", name="password")#password
            label(for="confPassword") Confirm Password:
            input(type="password", name="confPassword")#confPassword
            button.btn(type="submit") Create Account
        p.error #{errorMessage}