extends layout

block content
  .post-list
    .post
      h4 Another Outbreak Occurs
      .post-split
        img(src="/images/Covid.png")
        .post-text
          p And this talks about that post. It is very important information that everyone should be aware of. I don't have much more to say than this.
    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing. It is very important information that everyone should be aware of. I don't have much more to say than this.

    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing. It is very important information that everyone should be aware of. I don't have much more to say than this.
    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing. It is very important information that everyone should be aware of. I don't have much more to say than this.
    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing. It is very important information that everyone should be aware of. I don't have much more to say than this.

    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing. It is very important information that everyone should be aware of. I don't have much more to say than this.
    hr
    .post
      h4 Yet Another Post About This
      .post-split
        img(src="/images/Riots.png")
        .post-text
          p And this talks about the same thing.