extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/forms.css')
    h2.form-title Create Post:
    .form-block
        form(action="/create-post", method="POST", novalidate, enctype="multipart/form-data")
            input(type="data", name="date", style="display: none")#date
            label(for="title") Title:
            p.char-count#title-count 0 / 30
            input(type="text", name="title")#title

            label(for="summary") Summary:
            p.char-count#summary-count 0 / 50
            input(type="text", name="summary")#summary

            label(for="article") Article:
            p.char-count#article-count 0 / 500
            textarea(name="article")#article

            label(for="image-area") Image:
            div#image-area
            div
                input(type="file", name="image", style="display: none")#file-button
                a.btn.btn-sub(onclick="uploadFilePressed()")#custom-file-button
                    span.glyphicon.glyphicon-picture
                    |  Upload Image

            label(for="tags") Tags:
            div
                ul#tags
                input(type="text", name="tagString", style="display: none")#tag-string
                input(type="text")#input-tag
                a.btn.btn-sub(onclick="addTag()")
                    span.glyphicon.glyphicon-plus

            button.btn(type="submit")#post-button Post
            p.warning#warning1 All fields must be filled out.
            p.warning#warning2 Fields must not exceed permitted lengths.

    script
        include ../../public/javascripts/post.js