extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/posts.css')
    .post-list
        .post
            h4 Another Outbreak Occurs
            .post-split
                img(src="/images/Covid.png")
                .post-text
                    p And this talks about that post. It is very important information that everyone should be aware of. I don't have much more to say than this.
                    p
                        b Author:
                        |  Name
    hr
