#input-tag {
    font: inherit;
    margin-bottom: 1rem;
}

#custom-file-button {
    height: 2.25rem;
}

.form-title {
    margin-left: 2rem;
}

.form-block {
    padding: 4rem 5rem;
    background-color: #cccccc;
    border-radius: 10px;
}

.form-block form input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 100%;
}

.form-block form textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 100%;
    height: 10rem;
    resize: none;
}

.form-block form img {
    margin-bottom: 1rem;
}

.form-block form div ul {
    padding: 0;
}

.form-block form div ul li {
    padding: 0.4rem .8rem;
    margin-right: 0.3rem;
    font: inherit;
    color: white;
    background: #737373;
    cursor: default;
    display: inline;
}

.glyphicon-remove-circle {
    margin-left: .5rem;
}

.char-count {
    margin-bottom: 0;
}

.btn-sub {
    font: inherit;
    font-size: 1.1rem;
    padding: .2rem .4rem;
    margin-bottom: 2rem
}