.logo-area {
    height: 6rem;
    background: #383838;
    padding: 1.5rem;
}

.logo {
    height: 3rem;
    display: block;
    background: #383838;
    margin-left: auto;
    margin-right: auto;
}

.topnav-right {
    float: right;

}

.topnav-right button {
    border: none;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #767676;
    color: white;
}

.topnav a.active {
    background-color: #0087ff;
    color: white;
}

.tab-area {
    background-color: black;
    overflow: hidden;
}

.search-area {
    width: 100%;
    height: 4rem;
    padding: .7rem;
    background-color: rgba(86, 86, 86, 0.81);
}

.search-bar {
    width: 80%;
    height: 2.5rem;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25rem;
    text-align: center;
    border: none;
}

.search-bar form input {
    text-align: center;
    outline: none;
    border-radius: 1.25rem;
    border: none;
    width: calc(100% - 30px);
}
.search-bar form button {
    text-align: center;
    border: none;
    background: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #content {
    padding-top: 57px;
}

