.post-list {
}

.post {
    padding: 0.2rem 0;
}

.post-split {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1rem;
}

.post img {
    width: 100%;
}

.post-text {
    width: 100%;
    padding-right: 1rem;
}

.post:hover {
    background-color: #f2f2f2;
}

.post-detail {
}

.post-detail_header-top {
    margin: auto;
    text-align: center;
}

.post-detail_header-top img {
    max-height: 30rem;
    max-width: 100%;
}

.post-detail_header-bottom p {
    margin-bottom: 0;
}

.post-detail_article {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}